
        <div id="home" class="banner-container">
            <img src="/app/images/banner-bg.jpg" alt="banner" />
            <div class="container banner-content">
                <div id="da-slider" class="da-slider">
                    <div class="da-slide">
                        <h2>Better algorithms</h2>
                        <p>because time and space matter !</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Core Java</h2>
                        <p>Eclipse, EMF, GMF, you name it</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>Javascript</h2>
                        <p>Faster back end, better front end</p>
                        <div class="da-img"></div>
                    </div>
                    <div class="da-slide">
                        <h2>UML</h2>
                        <p>Modelling for maintenability</p>
                        <div class="da-img"></div>
                    </div>
				<!--  <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav> -->
                </div>
            </div>
    </div>